* {
    margin: 0;
}

nav {
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

img {
    width: 5%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}