* {
    margin: 0;
}

img {
    width: 20%;
}
body {
    background-color: pink;
    text-align: center;
}
header, footer {
    background-color: aqua;
    height: 15vh;
    margin: 20px;
}
main {
    height: 70vh;
    margin: 0 20px;
    display: flex;
}
aside {
    background-color: aquamarine;
    flex: 1;
    margin-right: 20px;
}
article {
    background-color: red;
    flex: 3;
    text-align: center;
}
article .text {
    height: 30vh;
}
.container {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}