div {
    border: 2px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    height: 100px;
    margin-bottom: 10px;
}
.satu {
    background-color: green;
    margin-bottom: 10px;
}
.dua {
    background-color: yellow;
    position: absolute;
    width: 20%;
}
.tiga {
    background-color: coral;
    width: 70%;
    margin-left: auto;
    margin-bottom: 10px;
}
.empat {
     background-color: yellow;
     position: absolute;
     width: 20%;
}
.lima {
    background-color: aqua;
    width: 70%;
    margin-left: auto;
}